{% extends "base.html" %}

{% block content %}

    <div class="card mx-auto" style="max-width: 800px; margin-top:100px;">
        <div class="card-body">
            {% include "includes/alerts.html" %}
            <div class="col-md-12 col-sm-12" style="margin-bottom: 2rem;">
                <p>You are logged in as <strong>{{ user.email }}</strong> <a href="{% url "users:logout" %}"> Logout</a>
                </p>
            </div>

            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group" style="margin-bottom: 1rem;">
                        {{ field }}
                    </div> <!-- form-group// -->
                {% endfor %}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create</button>
                </div> <!-- form-group// -->
            </form>

        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

{% endblock %}
