{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="col-md-12 col-sm-12" style="margin-bottom: 2rem;">
            <div class="page-header">
                <h3>URLs List</h3>
            </div>
        </div>

        {% include "includes/alerts.html" %}

        <div class="col-md-12 col-sm-12" style="margin-bottom: 2rem;">
            <p>You are logged in as <strong>{{ user.email }}</strong> <a href="{% url "users:logout" %}"> Logout</a></p>
        </div>

        <div class="col-md-12 col-sm-12" style="margin-bottom: 2rem;">
            <a class="btn btn-primary pull-right" href="{% url "shortener:create" %}" role="button">Generate Short
                URL</a>
        </div>

        <hr>

        <form class="form-inline" action="{% url "shortener:list" %}" method="get">
            <div class="input-group mb-3" style="width: 30rem;">
                <input type="text" class="form-control" name="searchKeyword"
                       placeholder="{% if search_keyword %}{{ search_keyword }}{% else %}Search Keyword{% endif %}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <hr>

        {% if url_count %}
            <strong>{{ url_count }} URLs found</strong>
        {% endif %}
        <div class="col-md-12 col-sm-12">
            <p>
                Select number of table rows in one page (currently is {{ paginator.per_page }}):
                <a class="btn btn-sm btn-outline-dark"
                   href="{% include "includes/set_url.html" with page=1 per_page=10 %}">10</a>
                <a class="btn btn-sm btn-outline-dark"
                   href="{% include "includes/set_url.html" with page=1 per_page=20 %}" style="margin: 0 0.5rem;">20</a>
                <a class="btn btn-sm btn-outline-dark"
                   href="{% include "includes/set_url.html" with page=1 per_page=50 %}">50</a>
            </p>
        </div>

        <div>
            <div class="table-responsive col-md-12 col-sm-12" id="table-container">
                <table class="table table-hover col-md-12 col-sm-12">
                    <thead>
                    <tr>
                        <th>PK</th>
                        <th>URL</th>
                        <th>SHORT URL</th>
                        <th>USER</th>
                        <th>CREATED_AT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for url in urls %}
                        <tr>
                            <td>
                                {{ url.id }}
                            </td>
                            <td style="max-width: 30rem;">
                                <a href="{{ url.main_url }}" style="line-break: anywhere">{{ url.main_url }}</a>
                            </td>
                            <td>
                                <a href="{{ url.main_url }}">{{ url.short_url }}</a>
                            </td>
                            <td>
                                {{ url.user.email }}
                            </td>
                            <td>
                                {{ url.created }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include "includes/paginator.html" %}

    </div>

{% endblock %}
