{% extends "base.html" %}

{% block content %}
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Registration Form</h4>
            {% include "includes/alerts.html" %}
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ form.errors }}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group" style="margin-bottom: 1rem;">
                        {{ field }}
                    </div> <!-- form-group// -->
                {% endfor %}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Register</button>
                </div> <!-- form-group// -->
            </form>

        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Have an account? <a href="{% url "users:login" %}">Login</a></p>

{% endblock %}